@model IEnumerable<Presentation.Models.TeacherDTO>
@{
    ViewData["Title"] = "Teacher List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Teacher List</h1>
<p class="float-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#teacherModel">
        Add Teacher
    </button>
</p>

<table id="teacherTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var teacher in Model)
            {
                <tr>
                    <td>@teacher.FirstName</td>
                    <td>@teacher.LastName</td>
                    <td>@teacher.Address</td>
                    <td>
                        <button class="btn btn-primary btn-md editButton" dataid="@teacher.TeacherId">Edit</button>
                        <button class="btn btn-danger  btn-md deleteButton" dataid="@teacher.TeacherId">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="teacherModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacherModelTitle">Add Teacher</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="teacherForm">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="hidden" id="teacherId" value="0" />
                        <input type="text" required class="form-control" id="firstName" placeholder="Enter first name">
                    </div>
                   <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" required class="form-control" id="lastName" placeholder="Enter last name">
                    </div>
                     <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea required class="form-control" id="address" rows="3" placeholder="Enter address"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#teacherTable').DataTable();

        $('#teacherModel').submit(function(event) {
            event.preventDefault();
            var teacherId = $('#teacherId').val();
            var firstName = $('#firstName').val();
            var lastName = $('#lastName').val();
            var address = $('#address').val();
            var formData = {
                TeacherId: teacherId,
                FirstName: firstName,
                LastName: lastName,
                Address: address
            };
            $.ajax({
                url: '/Teacher/AddUpdate',
                type: 'POST',
                data: formData,
                success: function(response) {
                    Notification(response.isSuccess, response.message, true);
                    $('#courseForm')[0].reset();
                },
                error: function(error) {
                    console.error('Error sending form data:', error);
                }
            });
        });
    });

    $("#teacherTable").on("click", ".editButton", function() {
        var id = $(this).attr("dataid");
        $.ajax({
            url: '/Teacher/Details?Id=' + id,
            type: 'GET',
            success: function(response) {
                if (response.isSuccess) {
                    $("#teacherModelTitle").text("Edit Teacher");
                    $("#teacherId").val(id);
                    $("#firstName").val(response.data.firstName);
                    $("#lastName").val(response.data.lastName);
                    $("#address").val(response.data.address);
                    $('#teacherModel').modal('toggle');
                } else {
                    Notification(response.isSuccess, response.message, false);
                }

            },
            error: function(error) {
                console.error('Error sending form data:', error);
            }
        });
    });
    $("#teacherTable").on("click", ".deleteButton", function() {
        var id = $(this).attr("dataid");
        Swal.fire({
            text: 'Are you sure you want to delete this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, proceed!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Teacher/Delete?Id=' + id,
                    type: 'GET',
                    success: function(response) {
                        Notification(response.isSuccess, response.message, response.isSuccess);
                    },
                    error: function(error) {
                        console.error('Error sending form data:', error);
                    }
                });
            } else {

            }
        });
    });
</script>